@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Avenir LT Std';
        src: url('fonts/AvenirLTStd-Black.eot');
        src: url('fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
            url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
            url('fonts/AvenirLTStd-Black.woff') format('woff'),
            url('fonts/AvenirLTStd-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Avenir LT Std';
        src: url('fonts/AvenirLTStd-Roman.eot');
        src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
            url('fonts/AvenirLTStd-Roman.woff2') format('woff2'),
            url('fonts/AvenirLTStd-Roman.woff') format('woff'),
            url('fonts/AvenirLTStd-Roman.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}


/* width */
::-webkit-scrollbar {
    width: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}